.form {
    display: block;
    width: 25%;
}

.form__select {
    position: relative;
}
.form__select select {
    padding-right: 2.5rem;
}
.form__select:after {
    display: block;
    position: absolute;
    top: 50%;
    right: 1.125rem;
    border: 0.0625rem solid #c3c4be;
    border-right: 0;
    border-top: 0;
    margin-top: -0.375rem;
    width: 0.5rem;
    height: 0.5rem;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    pointer-events: none;
    content: "";
}

.form__field {
    display: block;
    margin-bottom: 1rem;
}

.form__error {
    padding: 0.5rem 0;
    color: #cc4b37;
}